/**************************************************************
                    General
**************************************************************/
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, img, var, ol, ul, li, form,
label, input, table, caption, tr, th, td, article, aside, canvas, details, figure, figcaption, footer,
header, hgroup, menu, nav, output, section, fieldset, summary, time, mark, audio, video, select {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
}

* {
	font-family: helvetica;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.round-edges {
    border-radius: 10px;
}

.fixed-container {
    position: fixed;
    display: block;
    top: 0;
    right: 10%;
    padding: 15px;
    background: #709f41;
    color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 24px;
    text-decoration: none;
}
.fixed-container img{
    display: none;
}
.clearfix {
    position: relative;
    display: block;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
.main-wrapper {
    margin: 0 auto;
}

/**************************************************************
                    Header
**************************************************************/
.main-header {
	background: #c2c2c2;
    padding: 20px 10px;
    margin: 30px 0;
}
.main-headding {
    margin-bottom: 20px;
    text-align: center;
}
.main-nav {
	background: #ebebeb;
    padding: 10px;
    text-align: center;
}
.nav-links {
    color: #000;
    text-decoration: none;
}
.nav-links:hover {
    color: #777;
}

/**************************************************************
                    Main content
**************************************************************/
.main-content {
    position: relative;
    margin-bottom: 20px;
}
.aside-image {
    float: left;
}
.aside-image:first-child {
    padding-right: 10px;
}
.aside-image:last-child {
    padding-left: 10px;
}
.aside-image img {
    display: block;
    width: 100%;
    border: solid 4px #000;
}
.image-container {
    position: relative;
}
.absolute-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;

    padding: 25px 10px;
    background: #000;

    color: #fff;
    font-size: 18px;
    text-align: center;
}
.middle-column {
    float: left;
	padding: 15px;
	background: #709f41;
}
.middle-column .section-article {
    position: relative;
    padding: 10px;
	background: #ffffff;
}
.article-title {
    text-align: center;
}
.close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    padding-top: 4px;
    text-align: center;
    background: red;
    border-radius: 100%;
    color: #000;
    text-decoration: none;
}
.section-article.mid-article {
	background: #b7e6e3;
    margin: 15px 0;
}

/**************************************************************
                    Gallery
**************************************************************/
.gallery-headding {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.gallery-images {
    display: block;
    float: left;
    padding: 5px;
}
.gallery-images img {
    display: block;
    height: 100%;
    width: 100%;
}

/**************************************************************
                    Form styles
**************************************************************/
.form-wrapper {
    position: fixed;
    margin: 0 auto;
    top: -1200px;
    left: 8.3%;
    background: #fff;
    border: solid 4px #709f41;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    transition: top 0.5s;
}
.submit-form {
    padding: 20px 5px;
    font-size: 15px;
    line-height: 40px;
}
.form-headding {
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
    padding-left: 20px;
}
.recommend-holder {
    text-align: center;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.red-star {
    color: red;
}
.required-fields {
    color: #949494;
    line-height: 20px;
}
.recommend-holder textarea{
    height: 200px;
    border-radius: 3px;
    resize: none;
}
#nameOfUser, #userMail, #howYouFoundUs {
    height: 30px;
    border: solid 1px #000;
    border-radius: 3px;
    max-width: 250px;

}
.submit-button {
    padding: 8px 12px;
    background: #709f41;
    border: 0;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
}
.submit-button:hover {
    background: #78AB45;
}
.show-form {
    top: 0;
}
.close-form {
    top: 5px;
    right: 5px;
}
/**************************************************************
                    Footer
**************************************************************/
.footer {
	background: #ebebeb;
    margin-top: 20px;
    padding: 10px;
    text-align: right;
}

/**************************************************************
                    12 columns grid
**************************************************************/
.column-1 { width: 8.3%; }
.column-2 { width: 16.6%; }
.column-3 { width: 25%; }
.column-4 { width: 33.2%; }
.column-5 { width: 41.5%; }
.column-6 { width: 50%; }
.column-7 { width: 58.3%; }
.column-8 { width: 66.6%; }
.column-9 { width: 75%; }
.column-10 { width: 83.2%; }
.column-11 { width: 91.5%; }
.column-12 { width: 100%; }

@media screen and (max-width: 1024px) {
    .gallery-images {
        width: 33.3%;
    }

}

@media screen and (max-width: 640px) {
    .aside-image, .middle-column {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .aside-image {
        padding: 0;
    }
    .aside-image:first-child {
        padding: 0;
    }
    .aside-image:last-child {
        padding: 0;
        margin-bottom: 0;
    }
    .gallery-images {
        width: 50%;
    }
    .fixed-container {
        width: 120px;
    }

}

@media screen and (max-width: 320px) {
    .gallery-images {
        width: 100%;
    }
    .fixed-container span{
        display: none;
    }
    .fixed-container img{
        display: inline-block;
        width: 100%;
    }

}